
.card {
    margin-bottom: 20px;
  }
  
  .card-header {
    font-size: 24px;
    padding: 15px;
  }
  
  .input-group {
    margin-top: 10px;
  }
  
  .btn-sm {
    font-size: 14px;
  }
  
  /* AddCourseData.css */
/* ... existing styles ... */

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger {
    margin-right: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.module-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.modulenumber{
  background-color: rgb(212, 212, 212);
  padding: 10px;
  border: 1px solid black;
}



/* AddCourseData.css */

/* ...existing styles... */

/* Adjustments for PNG buttons */

.btn img {
  margin-right: 8px; /* Adjust the space between icon and text */
  width: 24px; /* Set the width of the icon */
  height: 24px; /* Set the height of the icon */
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}


