


.progress-container {
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
}


.progress-bar {
  width: 0;
  height: 20px;
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  color: white;
}
