.course-navbar {
    background-color: #000000;
    border-right: 1px solid #ddd;
    padding: 10px;
    position: fixed;
    top: 70px;
    bottom: 0;
    overflow-y: auto;
    left: 0;
    z-index: 3;
    width: 340px; /* Adjust width to your preference */
    transition: width 0.3s ease; /* Add smooth transition effect */

  }
  @media (min-width: 1200px) {
    .course-navbar {
      width: 360px; /* Set width to 360px for larger screens */
    }
  }
  .course-navbar.collapsed {
    width: 60px;
  }
  
  .modules {
    padding: 10px;
  }
  
  .module {
    margin-bottom: 10px;
  }
  
  .module-name {
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add smooth transition effect */
    font-size:medium;

  }
  
  .module-name.active {
    background-color: #ff0000;
    border-radius: 2px;
    font-size: larger;
  }
  
  .chapters {
    padding-left: 20px;
  }
  
  .chapter {
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add smooth transition effect */
    color: white;
    font-size: small;

  }
  
  .chapter.active {
    background-color: #e91c1caf;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 3px;
  }
  
  .progress-bar {
    background-color: #6b6b6bdc;
    color: #000000;
    height: 10px;
    border: 1px solid #000000;
  }
  
  .progress {
    height: 100%;
    transition: width 0.3s ease;
  }
  
  .module.active {
    background-color: #007acc;
    color: #fff;
  }
  
  .chapter.active {
    color: #ffffff;
  }
  