
.notes {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 50px;
    height: 150px;  
  }
  
  .notes-buttons {
    margin-top: 20px;
    display: flex;
    float: right;
  
    justify-content: space-around;
  }
  
  .buttonsave {
    
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonsave:hover {
    background-color: #ff403d;
  }
  
  .editore {
    margin-top: 20px;
    background-color: #f9fbee;
    border: 1px solid #000000;
    border-radius: 10px;
  }
  
 
  .ql-toolbar {
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  
  .ql-toolbar button {
    color: #333;
  }
  
  
  .notes-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .buttonsave {
    background-color: #ff1500;
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .buttonsave:last-child {
    margin-right: 0;
  }
  
  .buttonsave:hover {
    background-color: #ff403d;
  }
 
 


  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    z-index: 999;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid black;
  }
  
  .modal-content {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .modal-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-button {
    flex: 1;
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px; 
  }
  
  .modal-button:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: 1px solid black;
  }
  
  @media only screen and (max-width: 768px) {
    .modal-container {
      width: 80%;
    }
  
    .modal-content {
      padding: 10px;
    }
  
    .modal-title {
      font-size: 20px;
    }
  
    .modal-input {
      font-size: 14px;
    }
  
    .modal-button {
      padding: 8px 16px;
    }
  }
  
 
  @media only screen and (min-width: 769px) {
    .modal-container {
      width: 40%;
    }
  }