.button{
    background-color: rgba(255, 28, 28, 0.828);
    border: 1px solid black;
    color: white;
    font-size: large;
    border-radius: 5px;
}
.button:hover{
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}





.card {
    text-align: center;
}


.generate-course-container-updated,
.english-test-container-updated {
   
    margin-bottom: 2vh;
}

.card-title-updated {
    margin-bottom: 1vh;
}

