.button{
    background-color: rgba(255, 28, 28, 0.828);
    border: 1px solid black;
    color: white;
    font-size: large;
    border-radius: 5px;
}
.button:hover{
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}





.card {
    text-align: center;
}


.generate-course-container-updated,
.english-test-container-updated {
   
    margin-bottom: 2vh;
}

.card-title-updated {
    margin-bottom: 1vh;
}


.updated-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  
  .updated-row {
    display: flex;
    justify-content: center;
  }
  
  .updated-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px; /* You can adjust the width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .updated-card-body {
    padding: 20px;
  }
  
  .your-updated-class-name {
    /* Add your styles for this class */
  }
  
  h2.your-updated-class-name {
    /* Add your styles for this specific h2 element */
  }
  
  .updated-container-button {
    margin-top: 20px;
  }
  

  
  /* Add any additional styles as needed */
  
