.logo {
    width: 50px;
    height: auto;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-toggler {
    border: none;
}

.navbar-nav .nav-link {
    color: #fff;
    /* margin: 0 15px; */
}

.navbar-nav .nav-link:hover {
    background-color: transparent;
    border: #ffffff 1px solid;
    color: #ffffff;
}

.navbar-nav .nav-item {
    cursor: default;
}

.navbar-nav .nav-item.active {
    background-color: #ff0000;
    border-color: #000000;
    color: #fff;
}