.login-form {
    background-color: #dedede;
    box-shadow: 2 8px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius:5px;
    border: solid 1px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #010000;
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .login-form button:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  