/* Register.css */

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  

  .form-input {
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .primary-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .primary-button:hover {
    background-color: #cc0000;
  }
  
  .secondary-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .secondary-button:hover {
    background-color: #333;
  }
  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .checkbox-input {
    margin-right: 5px;
  }

  .glogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}
  